.app_page {
    height: calc(100vh - 116px);

}

.cursor-image {
    position: absolute;
    width: 50px;
    /* Adjust size as needed */
    height: 50px;
    /* Adjust size as needed */
    pointer-events: none;
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

.move-area {
    /*normally use body*/
    width: 100vw;
    /* height: 100vh; */
    /*   padding: 10% 45%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.secret-container {
    width: 600px;
    position: relative;
}

.eye {
    position: relative;
    display: inline-block;
    border-radius: 60%;
    height: 130px;
    margin-left: 5px;
    width: 130px;
    border: 25px solid;
}

.eye:after {
    /*pupil*/
    position: absolute;
    bottom: 17px;
    right: 10px;
    width: 29px;
    height: 29px;
    background: #000;
    border-radius: 50%;
    content: " ";
}

.text {
    /* font-size: 164px; */
}
.mouth {
    position: absolute;
    display: flex;
    top: 90%;
    justify-content: center;
    width: 100%;
}
  
.svg-mouth {
    width: 130px; /* Adjust the size as needed */
    height: auto;
}


@media screen and (max-width:960px) {
    .move-area {
        /*normally use body*/
        width: auto;
        /* height: 100vh; */
        /*   padding: 10% 45%; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        width: 190px;
        position: relative;
    }

    .eye {
        position: relative;
        display: inline-block;
        border-radius: 60%;
        height: 40px;
        margin-left: 5px;
        width: 40px;
        border: 10px solid;
    }

    .eye:after {
        /*pupil*/
        position: absolute;
        bottom: 6px;
        right: 5px;
        width: 12px;
        height: 12px;
        background: #000;
        border-radius: 50%;
        content: " ";
    }


    .mouth-sad {
        position: absolute;
        left: 15px;
        right: 0;
        bottom: -30px;
        margin-left: auto;
        margin-right: auto;
        width: 70px;
        height: 40px;
        border: 12px solid transparent;
        box-sizing: border-box;
        border-radius: 50%;
        border-top-color: black;
    }

    .left {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #000;
        position: absolute;
        left: -6px;
        top: -6px;
        opacity: 93%;
    }

    .right {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #000;
        position: absolute;
        right: -5px;
        top: -6px;
    }
}