@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.btn {
  /* font-family: "Inter", sans-serif; */
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

input:focus+label,
input:not(:placeholder-shown)+label {
  transform: translateY(-1px);
  font-size: 16px;
  color: #2a2a2a;
}

.contactContainer {
  height: calc(100vh - 108px);
}

:where(.css-dev-only-do-not-override-98ntnt).ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
  border: none !important;
  box-shadow: none !important;
  background-color: transparent;
  outline: none !important;
  border-color: transparent !important;
  padding: 0 !important;
}

:where(.css-98ntnt).ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
  border: 0px solid transparent;
  background: #ffffff;
  border-color: transparent !important;
}

:where(.css-98ntnt).ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector:focus {
  outline: none !important;
}

:where(.css-98ntnt).ant-select-outlined.ant-select-multiple .ant-select-selection-item {
  background: transparent !important;
  border: none !important;
}

:where(.css-dev-only-do-not-override-98ntnt).ant-select .ant-select-arrow {
  display: none !important;
  /* box-shadow: none !important;
  background: transparent !important;
  outline: none !important;
  border-color: transparent !important;
  border: none !important; */
}

@media screen and (max-width: 960px) {
  .contactContainer {
    height: auto;
    min-height: calc(100vh - 73px);
  }
}